
:root
{
  --primarycolour:#fe206e;
  --mainfont:"open sans" , sans-serif;
}

body
{
  font-family: var(--mainfont);
}
.text__primary
{
  color: var(--primarycolour);
}
 .navbar .nav-link
{
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
{
  color:var(--primarycolour);

}
.hero
{
  height: calc(100vh - 56px);
  background-image: url(images/bg.jpg);
  background-size: cover;
}
.about
{
  background-image: url(images/light_dot.jpg);
}